/* universal */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* html selector */
:root {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;

  --primary-color: #cfefcb;
  --black-color: #020402;
  --grey-color: #758173;
  --green-2-color: #19c5a0;
  --green-3-color: #c6dec6;
  --white-color: #ffffff;
  --purple-button : #9191e9;

  --palette-1-pink: #FFAEBC;
  --palette-1-blue: #A0E7E5;
  --palette-1-mint: #B4F8C8;
  --palette-1-yellow: #FBE7C6;
  
  
}

/* body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
